:root {
  --color-letra: black;
  --color-fondo: white;
  --color-sombra: #55535380;
  --color-fondo-dialogo: #e7e7e7e2;
  --color-fondo-nota: yellow;
  --color-principal: black;
  --color-fondo-principal: #d4af37e2;
  --color-secundario: #FF4081;
}