body {
  margin: 0;
  color: var(--color-letra);
  background-color: var(--color-fondo);
}

body, button, a {
  font-family: sans-serif;
}

a * {
  vertical-align: middle;
}

header {
  position: sticky;
  top: 0;
  padding: 0.5em;
  display: flex;
  align-items: center;
  background-color: var(--color-fondo-principal);
  color: var(--color-principal);
}

h1 {
  margin: 0;
  height: 1.3em;
  font-size: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: auto;
}

header button {
  background-color: transparent;
  color: var(--color-principal);
  border: none;
  padding: 0.5em;
  text-transform: uppercase;
  cursor: pointer
}

.marco-640 {
  flex-grow: 1;
  padding: 1em;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

nav li {
  margin: 1em;
}